<div id="wrap">
	<div id="header">
		<div class="inner">
			<h1 class="logo"><a href="#"><img src="../../img/common/logo.png" alt="umma"></a></h1>
		</div>
	</div>
	<div id="container">
		<div class="step_area">
			<div class="inner">
				<span class="step on">Common Info<span class="text">STEP 1</span></span>
				<span class="step">Company Info<span class="text">STEP 2</span></span>
				<span class="step">Manager Info<span class="text">STEP 3</span></span>
			</div>
		</div>
		<div class="tab_area on">
			<div class="content_box">
				<h2 class="h2_title"><a href="#">Common Info</a></h2>
				<div class="box_wrap">
					<div class="box_area">
						<h3 class="h3_title">Profile Image</h3>
						<div class="data_area">
							<div class="thumb_area">
								<div class="thumb">
									<img src="../../img/form/no_profile.png" alt="">
								</div>
								<div class="file_box"><input type="file"><span href="#" class="fake">ADD</span></div>
							</div>
							<!-- [D] 이미지 등록후 변경시
							<div class="thumb_area">
								<div class="thumb">
									<img src="../../img/form/no_profile.png" alt="">
								</div>
								<button type="button" class="btn_thumb2">ADD</button>
							</div> -->
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">Member Type</h3>
						<div class="data_area">
							<div class="select_area" style="width:278px">
								<div class="select_box">
									<a href="javascript:void(0)" class="slct_head">Seller</a>
									<ul class="slct_list">
										<li class="on"><a href="javascript:void(0)" tabindex="-1">Seller</a></li>
										<li><a href="javascript:void(0)" tabindex="-1">Buyer</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">Country</h3>
						<div class="data_area">
							<div class="select_area" style="width:278px">
								<div class="select_box">
									<a href="javascript:void(0)" class="slct_head">Country</a>
									<ul class="slct_list">
										<li class="on"><a href="javascript:void(0)" tabindex="-1">Country1</a></li>
										<li><a href="javascript:void(0)" tabindex="-1">Country2</a></li>
										<li><a href="javascript:void(0)" tabindex="-1">Country3</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">Email</h3>
						<div class="data_area">
							<div class="input_text inline" style="width:278px"><input type="text" placeholder="Email"></div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">Password</h3>
						<div class="data_area">
							<div class="input_text inline" style="width:278px"><input type="text" placeholder="Password"></div>
							<div class="input_text inline" style="width:278px"><input type="text" placeholder="Comfirm Password"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="content_box">
				<h2 class="h2_title">Favorite Tags</h2>
				<div class="tag_wrap">
					<div class="tag_area">
						<button type="button" class="tag">Maskpack</button>
						<button type="button" class="tag">Maskpack</button>
						<button type="button" class="tag">Maskpack</button>
						<button type="button" class="tag">Maskpack</button>
						<button type="button" class="tag">Maskpack</button>
						<button type="button" class="tag">Maskpack</button>
						<button type="button" class="tag">Maskpack</button>
						<button type="button" class="tag">Maskpack</button>
						<button type="button" class="tag">Maskpack</button>
						<button type="button" class="tag">Maskpack</button>
						<button type="button" class="tag">Maskpack</button>
					</div>
					<div class="btn_center mt30">
					<button type="reset" class="tag_modify">Modify</button>
					<button type="button" class="tag_confirm">OK</button>
					</div>
				</div>
			</div>
			<div class="btn_center">
				<button type="button" class="btn_next btn">Next</button>
			</div>
		</div>
		<div class="tab_area">
			<div class="content_box">
				<h2 class="h2_title"><a href="#">Company Info</a></h2>
				<div class="box_wrap">
					<div class="box_area">
						<h3 class="h3_title">Company Name *</h3>
						<div class="data_area">
							<div class="input_text inline" style="width:278px"><input type="text" placeholder="Name"></div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">Company Logo</h3>
						<div class="data_area">
							<div class="thumb_area">
								<div class="thumb">
									<img src="../../img/form/no_company.png" alt="">
								</div>
								<div class="file_box"><input type="file"><span href="#" class="fake">ADD</span></div>
							</div>
							<!-- [D] 이미지 등록후 변경시
							<div class="thumb_area">
								<div class="thumb">
									<img src="https://dummyimage.com/100x100/fff/000&amp;text=image" alt="회원이미지">
								</div>
								<button type="button" class="btn_thumb2">ADD</button>
							</div> -->
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">Company <br>Registration Number *</h3>
						<div class="data_area">
							<div class="input_text inline" style="width:278px"><input type="text" placeholder="Name"></div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title" style="vertical-align:top">Adress</h3>
						<div class="data_area">
							<div class="input_text" style="width:278px"><input type="text" placeholder="County"></div>
							<div class="input_text mt5" style="width:278px"><input type="text" placeholder="States"></div>
							<div class="input_text mt5" style="width:278px"><input type="text" placeholder="Street"></div>
							<div class="input_text mt5" style="width:278px"><input type="text" placeholder="Detail"></div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">Zip Code</h3>
						<div class="data_area">
							<div class="input_text inline" style="width:278px"><input type="text" placeholder="Zip Code"></div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">Business Type</h3>
						<div class="data_area">
							<div class="select_area" style="width:278px">
								<div class="select_box">
									<a href="javascript:void(0)" class="slct_head">Business Type</a>
									<ul class="slct_list">
										<li class="on"><a href="javascript:void(0)" tabindex="-1">Business Type1</a></li>
										<li><a href="javascript:void(0)" tabindex="-1">Business Type2</a></li>
										<li><a href="javascript:void(0)" tabindex="-1">Business Type3</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">사업규모</h3>
						<div class="data_area">
							<div class="select_area" style="width:278px">
								<div class="select_box">
									<a href="javascript:void(0)" class="slct_head">직원수</a>
									<ul class="slct_list">
										<li class="on"><a href="javascript:void(0)" tabindex="-1">50이하</a></li>
										<li><a href="javascript:void(0)" tabindex="-1">100이하</a></li>
										<li><a href="javascript:void(0)" tabindex="-1">200이하</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">자사 홈페이지 URL</h3>
						<div class="data_area">
							<div class="input_text inline" style="width:278px"><input type="text" placeholder="자사 홈페이지 URL"></div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">유선전화번호</h3>
						<div class="data_area">
							<div class="text tel">
								<div class="select_area inline">
									<div class="select_box">
										<a href="javascript:void(0)" class="slct_head">+82</a>
										<ul class="slct_list">
											<li class="on"><a href="javascript:void(0)" tabindex="-1">+82</a></li>
											<li class="on"><a href="javascript:void(0)" tabindex="-1">+382</a></li>
										</ul>
									</div>
								</div>
								<div class="input_text oh" style="width:198px">
									<input type="tel" placeholder="유선전화번호">
								</div>
							</div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">팩스번호</h3>
						<div class="data_area">
							<div class="text tel">
								<div class="select_area inline">
									<div class="select_box">
										<a href="javascript:void(0)" class="slct_head">+82</a>
										<ul class="slct_list">
											<li class="on"><a href="javascript:void(0)" tabindex="-1">+82</a></li>
											<li class="on"><a href="javascript:void(0)" tabindex="-1">+81</a></li>
											<li class="on"><a href="javascript:void(0)" tabindex="-1">+1</a></li>
											<li class="on"><a href="javascript:void(0)" tabindex="-1">+852</a></li>
											<li class="on"><a href="javascript:void(0)" tabindex="-1">+886</a></li>
										</ul>
									</div>
								</div>
								<div class="input_text oh" style="width:198px">
									<input type="tel" placeholder="팩스번호">
								</div>
							</div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">파일 첨부</h3>
						<div class="data_area">
							<div class="file_box">
								<span class="input_text"></span>
								<input type="file"><span href="#" class="fake">ADD</span>
							</div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title align_top">파일 첨부 종류 설명</h3>
						<div class="data_area">
							<div class="file_list" style="width:278px"></div>
							<div class="info_text c_blue mt10">
								You can register only the following files. You can register up to 10mb in total. <br>(Registerable extensions: pdf, jpg, png, zip)
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn_center">
				<button type="button" class="btn_prev btn white" onclick="">Prev</button>
				<button type="button" class="btn_next btn">Next</button>
			</div>
		</div>
		<div class="tab_area">
			<div class="content_box">
				<h2 class="h2_title"><a href="#">Manager Info</a></h2>
				<div class="box_wrap">
					<div class="box_area">
						<h3 class="h3_title">Name</h3>
						<div class="data_area">
							<div class="input_text inline" style="width:278px"><input type="text" placeholder="Name"></div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">Position</h3>
						<div class="data_area">
							<div class="input_text inline" style="width:278px"><input type="text" placeholder="Position"></div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">Email</h3>
						<div class="data_area">
							<div class="input_text inline" style="width:278px"><input type="text" placeholder="Email"></div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">유선전화번호</h3>
						<div class="data_area">
							<div class="text tel">
								<div class="select_area inline">
									<div class="select_box">
										<a href="javascript:void(0)" class="slct_head">+82</a>
										<ul class="slct_list">
											<li class="on"><a href="javascript:void(0)" tabindex="-1">+82</a></li>
										</ul>
									</div>
								</div>
								<div class="input_text oh" style="width:198px">
									<input type="tel" placeholder="유선전화번호">
								</div>
							</div>
						</div>
					</div>
					<div class="box_area">
						<h3 class="h3_title">무선전화번호</h3>
						<div class="data_area">
							<div class="text tel">
								<div class="select_area inline">
									<div class="select_box">
										<a href="javascript:void(0)" class="slct_head">+82</a>
										<ul class="slct_list">
											<li class="on"><a href="javascript:void(0)" tabindex="-1">+82</a></li>
										</ul>
									</div>
								</div>
								<div class="input_text oh" style="width:198px">
									<input type="tel" placeholder="무선전화번호">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="checkbox_area">
				<div class="checkbox_box on">
					<input type="checkbox" id="check">
					<label for="check">정보수신동의</label>
				</div>
				<div class="checkbox_box">
					<input type="checkbox" id="check2">
					<label for="check2">이용약관, 개인정보취급방침 동의</label>
				</div>
			</div>
			<div class="btn_center">
				<button type="button" class="btn_prev btn white">Prev</button>
				<button type="button" class="btn" id="btnModalDefault">Sign Up Request</button>
			</div>
		</div>
	</div>
</div>

<div class="dimmed"></div>
<div class="modal_area default" id="modal1" style="height:255px">
	<div class="header">
		<strong class="pop_tit">회원가입</strong>
	</div>
	<div class="content">
		<p class="s_dsc">회원등록이 완료 되었습니다.</p>
		<div class="btn_area">
			<button type="button" class="btn white btnModalClose" style="width:148px">확인</button>
		</div>
	</div>
</div>