#wrap{background:#f2f2f2}
#header{position:fixed;left:0;right:0;top:0;background:#fff;border-bottom:1px solid #dcdddf;z-index:10}
#header .logo{padding:14px 14px 9px;text-align:center}
#header .logo img{display:inline-block;height:33px}
#container{margin-top:59px;padding:42px}
.thumb_area{width:100px}
.thumb_area .thumb{position:relative;overflow:hidden;margin:13px 20px 0 0;width:100px;height:100px;line-height:100px;text-align:center;background:#fff;border:1px solid #000;vertical-align:top}
.thumb_area .thumb img{max-width:100px;max-height:100px;vertical-align:middle}
.thumb_area .btn_thumb2{margin-top:8px;width:100px;height:25px;background:#e1d9d0}

.step_area{margin:-42px -42px 0;height:99px;border-bottom:1px solid #d1d1d1;text-align:center;background:#fff}
.step_area .step{position:relative;display:inline-block;padding:20px 80px 0 0;height:74px;letter-spacing:0.7px;font-size:18px;color:#b9b9b9}
.step_area .step.on{font-weight:bold;color:#000}
.step_area .step .text{display:block;margin-top:12px;letter-spacing:0.4px;font-weight:normal;font-size:11px}
.step_area .step:after{content:'';position:absolute;right:35px;top:30px;width:15px;height:35px;background:url(../../../assets/images/arrow_register_nomal.png) no-repeat 0 0}
.step_area .step.on:after{background:url(../../../assets/images/arrow_register_active.png) no-repeat 0 0}
.step_area .step:last-child:after{display:none}

.content_box{margin:50px auto 0;padding:36px 80px;width:940px;border:1px solid #d8d8d8;background:#fff}
.h2_title{font-size:20px;letter-spacing:-1px}
.box_wrap{margin-top:50px}
.box_area{margin-top:23px;display:table;table-layout:fixed;width:100%}
.h3_title{width:150px;display:table-cell;vertical-align:middle;letter-spacing:-0.7px;font-size:14px;font-weight:normal;font-family:'Avenir',Helvetica,AppleSDGothicNeo,Arial,Sans-serif}
.h3_title.align_top{padding-top:12px;vertical-align:top}

.inner{width:940px;margin:0 auto}
.data_area{display:table-cell}
.data_area .btn{margin-top:8px;padding:0;width:100px;height:25px;border-radius:0;background:#e1d9d0;font-size:10px;font-weight:bold;color:#000}
.data_area .input_text{border:1px solid #000}
.data_area .select_area .select_box .slct_head{border:1px solid #000}

.select_area .select_box .slct_list{border:none;margin-top:0}
.select_area.on .select_box .on, .select_area .select_box li:hover{background:#ddd5ca}

.tab_area{display:none;margin-top:20px}
.tab_area.on{display:block}
.tag_wrap{margin-top:12px;background:#fff}
.tag_area .tag{display:inline-block;margin:5px 0 0 5px;padding:3px 7px;border:solid 1px #ededed;background:#fff;font-size:14px;color:#000}
.tag_wrap .tag_area .tag.on,.tag_wrap .tag_area .tag:hover{border:solid 1px #000;background:#f8f8f8}
.tag_wrap .btn_center button{width:140px;height:30px;border:solid 1px #000;background:#fff;font-weight:bold;font-size:10px;color:#000}

.btn_center{margin-top:36px;text-align:center}
.btn_center .btn{display:inline-block;width:300px;font-weight:bold}
.checkbox_area{margin:30px auto 0;width:620px}


